.network-visualization {
    width: 1600px;
    height: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    justify-content: space-between;
}

.zoom-controls button,
.fit-control button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #5b9bd5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}